<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njnu.dao.AdvertisementMapper" >
  <resultMap id="BaseResultMap" type="com.njnu.bean.Advertisement" >
    <id column="advertisement_id" property="advertisementId" jdbcType="INTEGER" />
    <result column="advertisement" property="advertisement" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    advertisement_id, advertisement
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from advertisement
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from advertisement
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njnu.bean.Advertisement" >
    insert into advertisement (advertisement_id, advertisement)
    values (#{advertisementId,jdbcType=INTEGER}, #{advertisement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.njnu.bean.Advertisement" >
    insert into advertisement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advertisementId != null" >
        advertisement_id,
      </if>
      <if test="advertisement != null" >
        advertisement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="advertisementId != null" >
        #{advertisementId,jdbcType=INTEGER},
      </if>
      <if test="advertisement != null" >
        #{advertisement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njnu.bean.Advertisement" >
    update advertisement
    <set >
      <if test="advertisement != null" >
        advertisement = #{advertisement,jdbcType=VARCHAR},
      </if>
    </set>
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njnu.bean.Advertisement" >
    update advertisement
    set advertisement = #{advertisement,jdbcType=VARCHAR}
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </update>
</mapper>